
:root {
    /* color */  

    --main-color: #fee101;
    --second-color: #d61319;

    --color-grey: #8e8f91;

    --color-white: #eee;
  
  }

  /*universal  */
*,
*::after,
*::before {
  box-sizing: border-box; /* margin의 기준선이 border를 기준으로  만들어짐 */

  border: 0;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
list-style: none;
padding-left: 0;
}

li {
list-style: none;
}


/* 🍀Utility class */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.flot_clear{
    clear: both;
}

.relative {
position: relative;
}


.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}




/* 🍀 start coding */


.world{
    display: flex;
}

.world-left{
background:linear-gradient(to bottom, #fff 5%, var(--color-grey) 100%);

width: 70vw;
    height: 100vh;
    position: relative;


}
.world-right{
background-color: var(--color-white);

width: 30vw;
    height: 100vh;
    position: relative;

}

/*  */
.abc{
    margin: auto;
}
.left-second_lay{
background-color: #becbd3;

}

.disabled{
    width: 100%;
    margin: 0 auto 0 0;

    /* background:linear-gradient(to bottom, #fff 5%, #ecedf1 100%); */

    background-image: linear-gradient( #8e8f91, #eee 50%,  #8e8f91 100%);
    /* 
    
    #EFF3F7
    
    
    #707070


     background-image: linear-gradient(to right, black, blue 400px, black 800px);
  background-size: 800px 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;


    */
}

.disabled-img{
    float: right;
}

.left-second-container{
position:absolute;
bottom: 0rem;
left: 0;
right: 0;
margin: auto;

display: flex;
flex-direction: column;
}
