
:root {
    /* color */  

    --main-color: #fee101;
    --second-color: #d61319;

    --color-grey: #8e8f91;

    --color-white: #eee;
  
  }

  /*universal  */
*,
*::after,
*::before {
  box-sizing: border-box; /* margin의 기준선이 border를 기준으로  만들어짐 */

  border: 0;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
list-style: none;
padding-left: 0;
}

li {
list-style: none;
}


/* 🍀Utility class */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.flot_clear{
    clear: both;
}

.relative {
position: relative;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #269DF5 5%, #35719E 100%);
	background-color:#269DF5;
	border-radius: 1rem;
	/* border:1px solid #057fd0; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2rem;
	font-weight:bold;
	/* padding:6px 24px; */
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;

    /* ⚡me */
    position: relative;
    padding: 1rem;
}
.myButton:hover {
	background:linear-gradient(to bottom, #35719E 5%, #269DF5 100%);
	background-color:#35719E;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* 
.myButton2 {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #269DF5 5%, #35719E 100%);
	background-color:#269DF5;}

.myButton2:hover {
    background:linear-gradient(to bottom, #35719E 5%, #269DF5 100%);
    background-color:#35719E;}    
*/


/* 🍀 start coding */

.world{
    display: flex;
}

/* 🍀world-left */

.world-left{
background:linear-gradient(to bottom, #fff 5%, var(--color-grey) 100%);

width: 70vw;
    height: 100vh;
    position: relative;


}
.world-right{
background-color: var(--color-white);

width: 30vw;
    height: 100vh;
    position: relative;

}

/*  */
.abc{
    margin: auto;
}
.left-second_lay{
background-color: #becbd3;

}

.disabled{
    width: 100%;
    margin: 0 auto 0 0;

    background-image: linear-gradient( #8e8f91, #eee 50%,  #8e8f91 100%);
}

.disabled-img{
    float: right;
}

.left-second-container{
position:absolute;
bottom: 0rem;
left: 0;
right: 0;
margin: auto;

display: flex;
flex-direction: column;
}


/* 🍀world-right-first-page */
.world-right{
    position: relative;
}

.page1 .bags{
    width: 30vw;
}
.page1 .bags img{
    width: 100%;

    display: block;
    margin: auto;
    padding: 20px;
}

.page1 .btn-container{
width: 90%;

position: absolute;
bottom: 5rem;
left: 0;
right: 0;
margin: auto;

display: grid;
grid-template-areas:
  "a b"
  "c d"
  "e e";
gap: 5%;
}

/* 🍉grid */
.page1 .grid-a {
grid-area: a;

background:linear-gradient(to bottom, #DBDB54 5%, #7E7B3C 100%);
background-color:#DBDB54;
}

.page1 .grid-a:hover {
	background:linear-gradient(to bottom, #7E7B3C 5%, #DBDB54 100%);
	background-color:#7E7B3C;
}

.page1 .grid-b {
grid-area: b;
}
.page1 .grid-c {
grid-area: c;
}
.page1 .grid-d {
grid-area: d;
}

/* 
.myButton2 {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #269DF5 5%, #35719E 100%);
	background-color:#269DF5;}

.myButton2:hover {
    background:linear-gradient(to bottom, #35719E 5%, #269DF5 100%);
    background-color:#35719E;}    
*/



.page1 .grid-e {
grid-area: e;

background:linear-gradient(to bottom, #2FEF1F 5%, #30532E 100%);
background-color:#2FEF1F;

padding: 3rem;
}

.page1 .grid-e:hover {
    background:linear-gradient(to bottom, #30532E 5%, #2FEF1F 100%);
    background-color:#30532E
}

/* 🍉img */
.page1 .grid-a img {

  width: 2.5rem;

  position: absolute;
  bottom: 2rem;
  left: 3.5rem;  
}

.page1 .grid-b p{
    margin: auto;
    left: 0;
    right: 0;
}
.page1 .grid-b img {
  width: 2.5rem;
  }

.page1 .grid-c img {
width: 3rem;

position: absolute;
bottom: 2rem;
left: 2rem;  
}

.page1 .grid-d img {
width: 3rem;

position: absolute;
bottom: 1.5rem;
left: 3rem;   
}


/*🍀 page2  */

.page2 .title{
    width: 30vw;
}
.page2 .title img{
    width: 80%;

    display: block;
    margin: auto;
    padding: 20px;
}

.page2 .btn-container{
width: 90%;

position: absolute;
bottom: 5rem;
left: 0;
right: 0;
margin: auto;

display: grid;
grid-template-areas:
  "a ."
  "b c"
  "d ."
  "e f";
gap: 1%;
}

/* 🍉grid */

.page2 .grid-a {
grid-area: a;

padding: 2.4rem;
}
.page2 .grid-b {
grid-area: b;
}
.page2 .grid-c {
grid-area: c;
}
.page2 .grid-d {
grid-area: d;
padding: 5.5rem;
}
.page2 .grid-e {
grid-area: e;

background:linear-gradient(to bottom, #C0C6CB 5%, #4F5153 100%);
background-color:#C0C6CB;
}

.page2 .grid-e:hover {
    background:linear-gradient(to bottom, #4F5153 5%, #C0C6CB 100%);
    background-color:#4F5153
}

.page2 .grid-f {
    grid-area: f;

    background:linear-gradient(to bottom, #DBDB54 5%, #7E7B3C 100%);
    background-color:#DBDB54;
}
.page2 .grid-f:hover {
    background:linear-gradient(to bottom, #7E7B3C 5%, #DBDB54 100%);
    background-color:#7E7B3C;
}

/* 🍉img */

.page2 .grid-a p{
    margin: auto;
    left: 0;
    right: 0;
}
.page2 .grid-a img {
width: 3rem;
}
.page2 .grid-b p{
    margin: auto;
    left: 0;
    right: 0;
}
.page2 .grid-b img {
width: 3rem;
}

.page2 .grid-e img {

width: 3rem;
}

.page2 .grid-f img {

width: 3rem;

position: absolute;
bottom: 2rem;
left: 2rem;  
}

.page2 .scan{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*🍀 page3  */

.page3 .title{
    width: 30vw;
}
.page3 .title img{
    width: 60%;

    display: block;
    margin: auto;
    padding: 20px;
}

.page3 .explain{
    text-align: center;
    padding: 2rem;
    font-size: 2.3rem;
    font-weight: 600;
    color: #717274;
}

.page3 .btn-container{
width: 90%;

position: absolute;
bottom: 5rem;
left: 0;
right: 0;
margin: auto;

display: grid;
grid-template-areas:
  "a b"; 
gap: 3%;
}

/* 🍉grid */